@page "/CreateNewToDoList";
@using Services;


<h3 style="text-blue">Create new list</h3>

@*<EditForm>

</EditForm>*@

@code {

    //private HttpContent listItem;
    
    //public CreateNewToDoList(HttpContent listItem)
    //{
    //    this.listItem = listItem;
    //}

    //public async Task OnSubmit()
    //{

    //    await ListHandler.CreateNewToDoList(listItem);
    //}
}
