@page "/CreateNewToDoList";
@using Services;
@using Data;
@inject ListHandler listhandler;



<h3 style="text-blue">Skapa ny lista</h3><br />
<EditForm Model="@newList">
    <InputText id="name" @bind-Value="newList.ListTitle" /> <br /> 
</EditForm>

<button @onclick="HandleSubmit">Save</button>


@code {

    public CreateToDoList newList = new CreateToDoList();

    public async System.Threading.Tasks.Task HandleSubmit()
    {

        newList = await listhandler.CreateNewToDoList(newList);
    }
}
