@page "/GetAllLists"
@using Services;
@using Data;
@inject ListHandler listHandler;



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


@code {


    protected override async System.Threading.Tasks.Task OnInitializedAsync() => await GetAllLists();


    private async System.Threading.Tasks.Task <IEnumerable<CreateToDoList>>GetAllLists() => await listHandler.GetAllListsAsync();



}
