@page "/LogIn"
@using Services;
@using Data;
@inject UserHandler userhandler;




<h3>LogIn</h3>

<EditForm Model="@user" OnSubmit="@HandleSubmit">
    <InputText id="name" @bind-Value="user.UserName" />
    <InputText id="name" @bind-Value="user.Password" />
    <button type="submit">Submit</button> 
</EditForm>



@code {

    private CreateUser user = new CreateUser();

    public async System.Threading.Tasks.Task HandleSubmit()
    {
        user = await userhandler.Authenticate(user); 
    }
}
