@page "/ViewSingleList"
@using Services;
@using Data;
@inject ListHandler listHandler;
@inject NavigationManager manager;


<div class="list-group">
    <h1>Lists</h1>
    @foreach (var list in lists)
    {

        <button @onclick="@(async () => await GetList(list))" class="btn-p">@list.ListTitle</button><br /><br />
    }

</div>

@code {

    private IEnumerable<CreateToDoList> lists = new List<CreateToDoList>();


    public async System.Threading.Tasks.Task GetList(CreateToDoList list)
    {
        manager.NavigateTo($"/ShowList/{list.Id.ToString()}");
    }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        lists = await listHandler.GetAllListsAsync();
    }



}